@model ShoppingLib.Cart

@{
    ViewBag.Title = "Index";
}

<h2>Shopping Cart</h2>
<h3>Items in Cart: @Session["count"]</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Total)
            </td>
            <td>

            </td>
        </tr>
    }
</table>
