
@{
    ViewBag.Title = "Products Page";
}

<h1>Products Page</h1>
<h4>@Html.MvcSiteMap().SiteMapPath()</h4> <!--added this here for breadcrumbs-->

<p>There are Physical Products, and there are Digital Products:</p>

<a class="col-sm-6 btn btn-lg" href="@Url.Action("Index", "PhysicalProduct")"><i class="fas fa-box-open"> Physical Products</i></a>
<a class="col-sm-6 btn btn-lg" href="@Url.Action("Index", "DigitalProduct")"><i class="fas fa-download"> Digital Products</i></a>

@* @Html.ActionLink("Physical Products", "Index", "PhysicalProduct") *@


