
@{
    ViewBag.Title = "Digital Products";
}

<h2>Digital Products</h2>
<h4>@Html.ActionLink("Products Page", "Index", "Product")</h4>

<p>@Html.ActionLink("Books", "DigitalBooks", "DigitalProduct")</p>
<p>@Html.ActionLink("Movies", "DigitalMovies", "DigitalProduct")</p>
<p>@Html.ActionLink("Music Albums", "DigitalMusicAlbums", "DigitalProduct")</p>

