@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shopping Website</h1>
    <p class="lead">
        This website simulates a shopping or e-commerce website. The project is free to view on github and is not a real production site.
        This purpose is to show my SOLID design pattern skills in a class library I created.
    </p>
    <a href="https://github.com/NichUrban/GitHub-Portfolio/tree/main/SOLIDDesignShoppingApp" target="_blank">
        <i class="fab fa-github" ></i>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Title Here</h2>
        <p>
            Put some text here...
        </p>
        <p><a class="btn btn-default" href="">Link here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Title Here</h2>
        <p>Put some text here...</p>
        <p><a class="btn btn-default" href="">Link here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Title Here</h2>
        <p>Put some text here...</p>
        <p><a class="btn btn-default" href="">Link here &raquo;</a></p>
    </div>
</div>