
@{
    ViewBag.Title = "Physical Products";
}

<h2>Physical Products</h2>
<h4>@Html.ActionLink("Products Page", "Index", "Product")</h4>

<p>@Html.ActionLink("Books", "PhysicalBooks", "PhysicalProduct")</p>
<p>@Html.ActionLink("Movies", "PhysicalMovies", "PhysicalProduct")</p>
<p>@Html.ActionLink("Music Albums", "PhysicalMusicAlbums", "PhysicalProduct")</p>

