
@{
    ViewBag.Title = "Physical Products";
}

<h2>Physical Products</h2>
<h4>@Html.MvcSiteMap().SiteMapPath()</h4> <!--added this here for breadcrumbs-->

<p>@Html.ActionLink("Books", "PhysicalBooks", "PhysicalProduct")</p>
<p>@Html.ActionLink("Movies", "PhysicalMovies", "PhysicalProduct")</p>
<p>@Html.ActionLink("Music Albums", "PhysicalMusicAlbums", "PhysicalProduct")</p>

